.profile-header {
  height: 400px;
  width: 33%;
  margin-top: 150px;
  margin-right: 50px;
  margin-left: 50px;
  background-color: #f0a141;
  background-image: url("../images/background.png");
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

body header.header-pic {
  display: flex;
  justify-self: flex-end;
}

body header.header-name {
  display: flex;
  justify-self: flex-end;
}

@media only screen and (max-width: 1024px) {
  .profile-header {
    height: 520px;
    width: 100%;
    margin: auto;
    background-color: #f0a141;
    background-image: url("../images/background.png");
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
    nav {
      height: 90px;
      background-image: url("../images/background.png");
      background-color: #f0a141;
    }

}

@media (min-width: 1025px) {
 .profile-header {
    width: 30%;
    margin: 250px 0px 0px 50px;
  }

  .container {
    width: 50%;
    margin: 200px;
  }

  .main-body {
    display: flex;
  }
}